---
const websiteData = [
  {
    desktopImageSrc: "/media/websites/",
    mobileImageSrc: "/media/websites/",
    publicLink: "https://bhblasted.com/",
    websiteName: "bhblasted.com",
  },
  {
    desktopImageSrc: "/media/websites/",
    mobileImageSrc: "/media/websites/",
    publicLink: "https://kaze.club/",
    websiteName: "kaze.club",
  },
  {
    desktopImageSrc: "/media/websites/whitelist-d-648caf5be5379.webp",
    mobileImageSrc: "/media/websites/whitelist-m-648caf5c281e7.webp",
    publicLink: "https://whitelist.pro/",
    websiteName: "whitelist.pro",
    details: "Dettagli dell'elemento 2",
  },
  {
    desktopImageSrc: "/media/websites/visio-d-648caf5aedfce.webp",
    mobileImageSrc: "/media/websites/visio-m-648caf5abcbc9.webp",
    publicLink: "https://www.visiodp.com/",
    websiteName: "visiodp.com",
  },
  {
    desktopImageSrc: "/media/websites/",
    mobileImageSrc: "/media/websites/",
    publicLink: "https://facetraining.it/",
    websiteName: "facetraining.it",
  },
  {
    desktopImageSrc: "/media/websites/guerritore-d-648caf50ddf1b.webp",
    mobileImageSrc: "/media/websites/guerritore-m-648caf50d6826.webp",
    publicLink: "https://viniguerritore.it/",
    websiteName: "viniguerritore.it",
  },
  {
    desktopImageSrc: "/media/websites/monsterhouse-d-648caf551b345.webp",
    mobileImageSrc: "/media/websites/monsterhouse-m-648caf5576acd.webp",
    publicLink: "https://monsterhouse.ch/",
    websiteName: "monsterhouse.ch",
  },
  {
    desktopImageSrc: "/media/websites/belcuore-d-648caf4d193d6.webp",
    mobileImageSrc: "/media/websites/belcuore-m-648caf4d6acad.webp",
    publicLink: "https://studiobelcuore.it/",
    websiteName: "studiobelcuore.it",
  },
  {
    desktopImageSrc: "/media/websites/mtvcamp-d-648caf5816101.webp",
    mobileImageSrc: "/media/websites/mtvcamp-m-648caf58a9bfc.webp",
    publicLink: "https://mtvcampania.org",
    websiteName: "mtvcampania.org",
  },
  {
    desktopImageSrc: "/media/websites/h2power-d-648caf521fbba.webp",
    mobileImageSrc: "/media/websites/h2power-m-648caf523d0d6.webp",
    publicLink: "https://h2powersrl.it/",
    websiteName: "h2powersrl.it",
  },
  /* {
    desktopImageSrc: "/media/websites/plpharma-d-648caf59b56a5.webp",
    mobileImageSrc: "/media/websites/plpharma-m-648caf59a86cc.webp",
    publicLink: "https://plpharma.it/",
    websiteName: "plpharma.it",
  }, */
  /* {
    desktopImageSrc: "/media/websites/mpmeccanica-m-648caf5732ca8.webp",
    mobileImageSrc: "/media/websites/mpmeccanica-d-648caf567d5fb.webp",
    publicLink: "https://mpmeccanica.com/",
    websiteName: "mpmeccanica.com",
  }, */
  {
    desktopImageSrc: "/media/websites/ils-m-648caf5365679.webp",
    mobileImageSrc: "/media/websites/ils-d-648caf5336d7e.webp",
    publicLink: "https://ilsformazione.it/",
    websiteName: "ilsformazione.it",
  },
  {
    desktopImageSrc: "/media/websites/coohesion-d-648caf4fa2f92.webp",
    mobileImageSrc: "/media/websites/coohesion-m-648caf4fc4cdd.webp",
    publicLink: "https://coohesion.com/",
    websiteName: "coohesion.com",
  },
  {
    desktopImageSrc: "/media/websites/allprint-d-648caf4c06422.webp",
    mobileImageSrc: "/media/websites/allprint-m-648caf4beae38.webp",
    publicLink: "https://www.allprintpaper.it/",
    websiteName: "allprintpaper.it",
  },
  /* {
    desktopImageSrc: "/media/websites/belcuoresrl-d-648caf4e7b7dc.webp",
    mobileImageSrc: "/media/websites/belcuoresrl-m-648caf4e63c3f.webp",
    publicLink: "https://www.francescobelcuoresrl.com/",
    websiteName: "belcuoresrl.com",
  }, */
  // Add more elements as needed
];

import MouseHoverImage from "../MouseHoverImage.astro";
---

<div
  class="flex flex-col divide-y divide-zinc-200 dark:divide-zinc-700 -mx-4 -mb-4 mt-4"
>
  {
    websiteData.map((website, index) => (
      <a
        class="website py-3 px-4 flex justify-between text-l lg:text-xl tracking-tight text-primary dark:text-white rounded-lg
      focus:ring-2 dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 duration-200 focus:ring-offset-2 focus:ring-inline-flex relative"
        data-index={index}
        href={website.publicLink}
        target="_blank"
        rel="noopener noreferrer"
      >
        <h3>{website.websiteName}</h3>
        <span class="font-extralight text-primary dark:text-white -rotate-45">
          
        </span>
        <img
          id={`image-${index}`}
          loading="lazy"
          class="absolute top-0 right-0  transform -translate-y-quart -translate-x-half"
          src={website.desktopImageSrc}
          onerror="this.onerror = null; this.src = '/media/var/placeholder.jpg'"
        />
      </a>
    ))
  }
</div>
