---
// Globals
import BasicLayout from '@/layouts/BasicLayout.astro';
import Pulse from '@/components/ui/Pulse.astro';
import { Badge } from "@/components/ui/badge";
import { Image, Picture } from 'astro:assets';

// Page related
import { websiteData } from '@/lib/WebsitesData.json';
import '@/styles/websites.css';
---

<BasicLayout
  title="Websites | LP Dev Central"
  description="Some of the websites that I designed and developed"
>
  <main class="main-container">
    <div class="section-header">
      <h1 class="main-title display wide">
        Websites
      </h1>
      <div class="description-text">
        <p class="description-paragraph">
          <Pulse online={true} /> Online as delivered
        </p>
        <p class="description-paragraph">
          <Pulse online={false} /> Offline or modified by third parties
        </p>
      </div>
    </div>

    {websiteData.map((website, index) => (
        <a
          class="website-link"
          data-index={index}
          href={website.publicLink}
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class={`website-image-container ${
          website.online ? '' : 'opacity-25'
          }`}>
            <img
              loading="lazy"
              class="website-image"
              src={website.desktopImageSrc}
              onerror="this.onerror = null; this.src = '/media/websites/placeholder.jpg'"
            />
            <img
              loading="lazy"
              class="website-mobile-image"
              src={website.mobileImageSrc}
              onerror="this.onerror = null; this.src = '/media/websites/placeholder.jpg'"
            />
          </div>
          <div class="website-title-container">
            <h3 class={`website-title ${
              website.online ? '' : 'line-through'
            }`}>
              {website.websiteName}
            </h3>
            <span class="website-status">
              <Pulse online={website.online} />
              <span
                class={`website-status-icon ${
                  website.online ? '' : 'opacity-35'
                }`}
              ></span>
            </span>
          </div>

          <div class="website-tags">
            {website.tags.map((tag, tagIndex) => (
              <Badge variant="secondary">
                {tag}
              </Badge>
            ))}
          </div>
          
          
        </a>
      ))
    }
  </main>
</BasicLayout>