---
// Globals
import BasicLayout from '@/layouts/BasicLayout.astro';
import Pulse from '@/components/ui/Pulse.astro';
import OnlineStatusIndicator from '@/components/my/OnlineStatus';

// Page related
import { websiteData } from '@/lib/data.Websites.json';
import '@/styles/websites.css';
import { WebsiteDrawer } from '@/components/my/WebsiteCardDrawer';
---

<BasicLayout
  title="Websites | LP Dev Central"
  description="Some of the websites that I designed and developed"
>
  <main class="main-container">
    <div class="section-header">
      <h1 class="main-title display wide">
        Websites
      </h1>
      <div class="description-text">
        <p class="description-paragraph">
          <OnlineStatusIndicator online={true} /> Online as delivered
        </p>
        <p class="description-paragraph">
          <OnlineStatusIndicator online={false} /> Offline or modified by third parties
        </p>
      </div>
    </div>

    {websiteData.map((website, index) => (
      <WebsiteDrawer website={website} client:load />
    ))}
    
  </main>
</BasicLayout>

<!-- <a
  class="website-link"
  data-index={index}
  href={website.publicLink}
  target="_blank"
  rel="noopener noreferrer"
></a> -->