---
// Page related
import Card from '../components/ui/Card.astro';
import { websiteData } from '@/lib/WebsitesData.json';
import { ArrowUpRight } from 'lucide-react';
---

<Card
  rowStart="lg:row-start-2"
  rowSpan="lg:row-span-2"
  colStart='lg:col-start-2'
  colSpan='lg:col-span-2'
  justify='between'
  class:list={['group']}
>
  <div slot="trailing">
    <span class="font-medium">
      Recent works:
    </span>
    <h3 class="xl mt-2">Websites</h3>
    <p class="mt-3">
      A collection of the websites I've created recently.
      <br />
      <a href="/websites" class="underline">Comprehensive list↗</a>
    </p>
  </div>

  <style>
    .websiteList {
      @apply flex flex-col divide-y divide-zinc-200 dark:divide-zinc-700 -mx-4 -mb-4 mt-4;
    }
    a.website {
      @apply py-3 px-4 flex justify-between text-lg lg:text-xl;
      @apply focus:ring-2 focus:ring-offset-2  relative;
      @apply dark:hover:bg-white/5 hover:bg-primary/10 duration-200;
    }
    a.website > img {
      width: 37.5%;
      height: auto;
      z-index: 99;
      background: url('/media/var/placeholder.jpg') center no-repeat cover;
    }
    a.website:not(:hover) > img {
      display: none;
    }
  </style>
  
  <div slot="content" class="websiteList">
    {
      // Filtra i siti con 'pinned' impostato a true
      websiteData.filter((website) => website.pinned === true).map((website, index) => (
        <a
          class="website rounded-md"
          data-index={index}
          href={website.publicLink}
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3>{website.websiteName}</h3>
          <ArrowUpRight className='link' strokeWidth={1.5}/>
          <img
            id={`image-${index}`}
            loading="lazy"
            class="absolute top-0 right-0  transform -translate-y-quart -translate-x-half"
            src={website.desktopImageSrc}
          />
        </a>
      ))
    }
  </div>
</Card>